<! -- genrerecords.hbs -->


<div class="bg-light m-5 p-3 border-start border-success border-5">
    <h2>GenreRecords</h2>
</div>

<div class="container">
    <table class="table table-light table-hover table-striped" id="recordorders-table">
        <caption>List of all Records and their associated Genre</caption>
        <tr>
            <th></th>
            {{#each data.[0]}}
            <th>{{@key}}</th>
            {{/each}}
        </tr>
        {{#each data}}
        <tr>
            <td><button class="btn-danger fw-bold" onclick="deleteGenreRecord({{this.recordID}})">Delete</button></td>
            <td>{{this.recordID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.artist}}</td>
            <td>{{this.Stock}}</td>
            <td>${{this.InventoryValue}}</td>
            <td>{{this.genre}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </table>
</div>